.h3-comp {
    box-sizing: border-box;
    padding: 28px 20px;
}

.h3-comp .h3-title {
    margin-top: 10px;
    text-align: center;
    letter-spacing: 3px;
    font-size: 20px;
    line-height: 2em;
}

.h3-comp p {
    text-indent: 2em;
    margin-top: 12px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.h3-comp img {
    margin-top: 20px;
}

.h3-comp h4 {
    margin-top: 20px;
    letter-spacing: 1.2px;
    font-size: 17px;
    text-indent: 2em;
}

#codeView span {
    font-size: 18px;
}